@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Dark-Blue-DarkMode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-DarkModeBackground: hsl(207, 26%, 17%);
  --Very-Dark-Blue-LightMode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-LightMode-Background: hsl(0, 0%, 98%);
  --White-DarkMode-Text-LightMode-Elements: hsl(0, 0%, 100%);
}
.App {
  background-color: var(--Very-Dark-Blue-DarkModeBackground);
  color: var(--White-DarkMode-Text-LightMode-Elements);
  font-family: "Nunito Sans", sans-serif;
}
img {
  max-width: 100%;
}
/* header  */
header {
  padding: 1em 2em;
  display: flex;
  align-items: center;
  background-color: var(--Dark-Blue-DarkMode-Elements);
}
.mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13%;
  margin-left: auto;
}
.search {
  display: flex;
  align-items: center;
  padding: 3em 2em;
}
.input-div {
  background-color: var(--Dark-Blue-DarkMode-Elements);
  padding-left: 1em;
  border-radius: 0.5rem;
  width: 25%;
  /* border: 1px solid red; */
}
input,
select {
  padding: 1em 2em;
  border: none;
  background-color: var(--Dark-Blue-DarkMode-Elements);
  color: var(--White-DarkMode-Text-LightMode-Elements);
  outline: none;
}
input {
  border-radius: 1rem;
  width: 90%;
}
input::placeholder {
  color: var(--White-DarkMode-Text-LightMode-Elements);
}
select {
  margin-left: auto;
  border-radius: 0.5rem;
  cursor: pointer;
}
select option {
  line-height: 1.2em;
}
.country-data-div {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 3em;
  padding: 0 2em;
}
.country-data {
  object-fit: cover;
  cursor: pointer;
  background-color: var(--Dark-Blue-DarkMode-Elements);
}
.country-data a {
  text-decoration: none;
  color: var(--White-DarkMode-Text-LightMode-Elements);
}
.country-data img {
  min-height: 30vh;
  width: 100%;
}
.country-data-text {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
.country-data-text p span {
  color: var(--Dark-Gray-Light-Mode-Input);
}
.countries-details-div {
  padding: 0 2em;
}
.countries-details-div a {
  text-decoration: none;
  color: var(--White-DarkMode-Text-LightMode-Elements);
}
.back a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  font-size: 1.4rem;
  padding: 0.4em 1.1em;
  background-color: var(--Dark-Blue-DarkMode-Elements);
  border-radius: 0.5rem;
  cursor: pointer;
}
.countries-details-div {
  min-height: 100vh;
}
.countries-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3em;
  align-items: center;
}
.countries-details-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.countries-details-img img {
  width: 75%;
}
.countries-details-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2em 0;
}
.countries-details-text div {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
.countries-details-text div p span {
  color: var(--Dark-Gray-Light-Mode-Input);
}
.countries-details-border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.countries-details-border ul {
  list-style: none;
  display: flex;
  gap: 2em;
  align-items: center;
  width: 70%;
}
.countries-details-border li {
  border-radius: 0.5rem;
  background-color: var(--Dark-Blue-DarkMode-Elements);
  box-shadow: 10px 20px -5px var(--White-DarkMode-Text-LightMode-Elements);
  padding: 0.3em 1em;
}
.spinner {
  height: auto;
  width: auto;
  font-size: 7rem;
  /* min-height: 60vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .input-div {
    width: 40%;
  }
  .mode {
    width: 20%;
  }
  .country-data-div {
    grid-template-columns: repeat(3, 1fr);
  }
  .back a {
    width: 15%;
  }
}

@media (max-width: 768px) {
  .mode {
    width: 30%;
  }
  .input-div {
    width: 50%;
  }
  .search {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
  }
  select {
    margin-left: 0;
  }
  .country-data-div {
    grid-template-columns: repeat(2, 1fr);
  }
  .back a {
    width: 35%;
    /* border: 1px solid red; */
  }
  .countries-details {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 2em;
  }
  .countries-details-img img {
    width: 100%;
  }
  .countries-details-text-div {
    margin-top: 3em;
  }
  .countries-details-text {
    display: grid;
    grid-template-columns: 1fr;
  }
  .countries-details-text2 {
    margin-top: 2em;
  }
  .countries-details-border {
    width: 100%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  .input-div {
    width: 60%;
  }
  .mode {
    width: 40%;
  }
  .country-data-div {
    grid-template-columns: 1fr;
  }
  .back a {
    width: 25%;
  }
}
