@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Dark-Blue-DarkMode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-DarkModeBackground: hsl(207, 26%, 17%);
  --Very-Dark-Blue-LightMode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-LightMode-Background: hsl(0, 0%, 98%);
  --White-DarkMode-Text-LightMode-Elements: hsl(0, 0%, 100%);
}
.App {
  background-color: var(--Very-Dark-Blue-DarkModeBackground);
  color: var(--White-DarkMode-Text-LightMode-Elements);
  font-family: "Nunito Sans", sans-serif;
}
img {
  max-width: 100%;
}
/* header  */
header {
  padding: 1em 2em;
  display: flex;
  align-items: center;
  background-color: var(--Dark-Blue-DarkMode-Elements);
}
.mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13%;
  margin-left: auto;
}
.search {
  display: flex;
  align-items: center;
  padding: 3em 2em;
}
.input-div {
  background-color: var(--Dark-Blue-DarkMode-Elements);
  padding-left: 1em;
  border-radius: 0.5rem;
  width: 25%;
  /* border: 1px solid red; */
}
input,
select {
  padding: 1em 2em;
  border: none;
  background-color: var(--Dark-Blue-DarkMode-Elements);
  color: var(--White-DarkMode-Text-LightMode-Elements);
  outline: none;
}
input {
  border-radius: 1rem;
  width: 90%;
}
input::placeholder {
  color: var(--White-DarkMode-Text-LightMode-Elements);
}
select {
  margin-left: auto;
  border-radius: 0.5rem;
}
select option {
  line-height: 1.2em;
}
.country-data-div {
  /* border: 2px solid red; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 3em;
  padding: 0 2em;
}
.country-data {
  object-fit: cover;
  cursor: pointer;
  background-color: var(--Dark-Blue-DarkMode-Elements);
}
.country-data img {
  min-height: 30vh;
  width: 100%;
}
.country-data-text {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
.country-data-text p span {
  color: var(--Dark-Gray-Light-Mode-Input);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .country-data-div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .mode {
    width: 30%;
  }
  .input-div {
    width: 50%;
  }
  .search {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
  }
  select {
    margin-left: 0;
  }
  .country-data-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  .input-div {
    width: 60%;
  }
  .mode {
    width: 40%;
  }
  .country-data-div {
    grid-template-columns: 1fr;
  }
}
